.history-list-wrapper {
    list-style-type: none;
    background-color:#fafdff;
    margin: 6px 4px !important; 
    padding: 15px;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}