.contact-number{
  margin: 0px !important;
  color: #3498db;
  font-family: 'Open Sans';
  font-weight: 600;
}
.contact-name{
  margin: 0px !important;
  color: #3498db;
  font-family: 'Open Sans';
  font-weight: 600;
}


.primary-button{
 border: 1px solid #3498db;
 border-radius: 4px;
 cursor: pointer;

 font-family: 'Open Sans';
 font-weight: 400;
 font-size: 12px;
 color: #3498db;
 padding: 4px 7px;

 margin-right: 6px;
}

.primary-button:hover
{
 border: 1px solid #2ecc71;
  background-color: #2ecc71;
  color: #fff;
}


.icon-button{
  color: #3498db;
  cursor: pointer;
}
.icon-button:hover {
  color: #2ecc71;
}